mixin img(name, exp, alt)
    img(src="/image/" + name + exp, alt=alt, decoding="async")

mixin img2x(name, exp, alt)
    img(src="/image/" + name + exp, alt=alt, srcset="/image/" + name + exp + "/image/" + name + "@2x" + exp, decoding="async")

mixin wpResponsivePicture(name, exp, alt)
    picture
        source(media="(max-width: 480px)" srcset="/image/" + name + "-sp" + exp )
        source(media="(max-width: 1000px) and (min-width: 480px)" srcset="/image/" + name + "-tab" + exp )
        source(media="(min-width: 1001px)" srcset="/image/" + name + exp + " 1x, /image/" + name + "@2x" + exp + " 2x")
        img(src="/image/" + name + exp, alt=alt, decoding="async")