<header class="l-header" id="header">
    <div class="l-header_inner">
        <a class="l-header_logo" href="/"><img src="/asset/image/logo.svg" alt="logo" decoding="async" /></a>
        <button
            class="c-button p-hamburger js-titleLoadAnimDelay2"
            type="button"
            aria-controls="global-nav"
            aria-expanded="false"
            id="js-buttonHamburger"
        >
            <span class="p-hamburger_line"><span class="u-visuallyHidden">メニューを開閉する</span></span>
        </button>
        <div class="js-nav-cover is-hidden"></div>
        <div class="l-global_nav is-hidden" id="global_nav">
            <div class="l-container">
                <ul class="l-global_nav_box">
                    <li class="l-global_nav_item"><a class="l-global_nav_link" href="/">Top</a></li>
                    <li class="l-global_nav_item"><a class="l-global_nav_link" href="/concept/">Concept</a></li>
                    <li class="l-global_nav_item"><a class="l-global_nav_link" href="/about/">About</a></li>
                    <li class="l-global_nav_item"><a class="l-global_nav_link" href="/contact/">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>
