<!DOCTYPE html>
html(lang="ja")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        //- Google Analytics
        title Document
        meta(name="description" content="")
        link(rel="icon" href="/image/favicon.icon")
        meta(name="author" content="")
        meta(property="og:site_name" content="")
        meta(property="og:type" content="")
        meta(property="og:title" content="")
        meta(property="og:url" content="")
        meta(property="og:image" content="/images/ogp.png")
        meta(property="og:site_name" content="")
        meta(property="og:description" content="")
        meta(name="twitter:card" content="summary_large_image")
        meta(name="twitter:site" content="")
        meta(name="twitter:title" content="")
        meta(name="twitter:url" content="")
        meta(name="twitter:description" content="")
        meta(name="twitter:image" content="/images/ogp.png")
        meta(property="og:title" content="")
        meta(property="og:url" content="")
        meta(property="og:image" content="")
        meta(property="og:description" content="")
        meta(property="og:type" content="article")
        link(rel="canonical" href="")
        meta(name="twitter:site" content="")
        meta(name="twitter:image" content="")
        //- Google Fonts
        //- CSS
        link(rel="stylesheet" type="text/css" href="/css/app.min.css")
    body

        header
            div Header

        main
            div Main

        footer
            div Footer

        script(src="/js/bundle.js")